body {
    font-family: "ＭＳ ゴシック", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h2 {
    margin-bottom: 0;
}

.entry h3:first-of-type {
    margin-top: 0;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.entry {
    margin-bottom: 4em;
}
